{
  "extends": [
    "eslint:recommended",
    "plugin:@sap/cds/recommended",
    "plugin:budapestian/recommended"
  ],
  "env": {
    "es2022": true,
    "node": true,
    "jest": true,
    "mocha": true
  },
  "globals": {
    "SELECT": true,
    "INSERT": true,
    "UPSERT": true,
    "UPDATE": true,
    "DELETE": true,
    "CREATE": true,
    "DROP": true,
    "CDL": true,
    "CQL": true,
    "CXL": true,
    "cds": true
  },
  "rules": {
    "no-console": "off",
    "hungarian-notation": "true",
    "require-atomic-updates": "off",
    "budapestian/parameter-pattern": "error",
    "budapestian/global-variable-pattern": "error",
    "budapestian/local-variable-pattern": [
      "error",
      {
        "exceptions": [
          "i",
          "j",
          "k",
          "x",
          "y",
          "z"
        ]
      }
    ],
    "budapestian/global-constant-pattern": "error"
  }
}
